:root {
  /* TODO: move to body.light and dark */
  --bg-color: rgb(18, 18, 20);
  --bg-dim-color: rgb(28, 28, 32);
  --bg-dim-hover-color: rgb(42, 42, 50);
  --text-color: rgb(220, 220, 225);
  --text-hover-color: rgb(250, 250, 250);
  --secondary-text-color: rgb(145, 145, 155);

  --tracer-fn-color: rgb(230, 230, 230);
  --tracer-index-color: rgb(130, 130, 140);
  --tracer-index-hover-color: rgb(250, 250, 250);
  --tracer-input-value-color: rgb(250, 200, 130);
  --tracer-output-value-color: rgb(130, 210, 150);
  --tracer-eq-color: rgb(90, 90, 95);
  --tracer-pin-color: rgb(250, 175, 55);
  --tracer-func-color: rgb(230, 230, 230);
  --tracer-fold-color: rgb(130, 130, 140);
  --tracer-fold-hover-color: rgb(250, 250, 250);
  --tracer-obj-color: rgb(100, 170, 250);
  --tracer-func-name-color: rgb(150, 110, 220);
  --tracer-arrow-color: rgb(250, 140, 110);
  --tracer-dot-color: rgb(230, 230, 230);
  --tracer-vm-value-color: rgb(235, 120, 235);

  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  /* Disable hover on graph to flicker scrollbars */
  overflow: hidden;
}

/* Scroll for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  border: 2px solid #1e1e1e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
::-webkit-scrollbar-corner {
  background: #1e1e1e;
}

/* SVG line flow animation */
@keyframes flow {
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.flow {
  /*stroke: url(#cold-gradient)*/
  stroke-dasharray: 20 10;
  animation: flow 14s linear infinite;
}

*:focus {
  outline: none;
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body.light {
  --bg-0-color: white;
  --bg-1-color: white;
  --bg-2-color: white;
  --text-0-color: black;
}

body.dark {
  --bg-0-color: rgb(18, 18, 20);
  --bg-1-color: rgb(32, 32, 38);
  --bg-2-color: rgb(48, 48, 56);
  --bg-dark-color: rgb(12, 12, 14);
  --text-0-color: rgb(250, 250, 250);
  --text-1-color: rgb(230, 230, 235);
  --text-2-color: rgb(155, 155, 165);
  --icon-color: rgb(155, 155, 165);
  --icon-hover-color: rgb(230, 230, 235);
  --copy-text-color: rgb(250, 200, 130);
  --border-color: rgb(55, 55, 65);
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-0-color);
  color: var(--text-0-color);
}
input {
  border: 0;
  background-color: var(--bg-1-color);
  color: var(--text-0-color);
}
input::placeholder {
  color: var(--text-2-color);
}
select {
  border: 0;
  background-color: var(--bg-1-color);
  color: var(--text-0-color);
}
