.component {
  position: relative;
}
.no_highlight {
  cursor: pointer;
  padding: 0 2px 0 2px;
  border-radius: 2px;
  transition: color 0.1s ease, background-color 0.1s ease;
}
.highlight {
  cursor: pointer;
  padding: 0 2px 0 2px;
  border-radius: 2px;
  background-color: var(--tracer-hl-bg-color);
  color: var(--tracer-hl-color);
  outline: 1px solid var(--tracer-hl-outline-color);
  outline-offset: -1px;
  transition:
    color 0.1s ease,
    background-color 0.1s ease;
}
.tooltip {
  position: absolute;
  left: 0;
  z-index: 10;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--tracer-tooltip-border-color);
  background-color: var(--tracer-tooltip-bg-color);
  transition: all 300ms ease-in-out;
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
}
.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
