.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.output {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
}
.val {
  color: var(--tracer-val-color);
}
.eq {
  margin-left: 4px;
  margin-right: 4px;
  color: var(--tracer-eq-color);
}
.comma {
  margin-right: 10px;
}
