.dialog {
  background: transparent;
  border: none;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

.dialog::backdrop {
  background: transparent;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.dialog[data-open] .overlay {
  opacity: 1;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  scale: 0.75;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 640px) {
  .container {
    padding: 0;
  }
}

.dialog[data-open] .container {
  scale: 1;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 0.5rem;
  background-color: var(--bg-dim-color);
  padding: 10px 12px 10px 12px;
  color: var(--text-hover-color);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 640px) {
  .content {
    width: 100%;
  }
}

.children {
  overflow: auto;
}

