.component {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.label {
}
.val {
  margin-left: 4px;
}
.code {
  overflow: auto;
}
.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 0 6px 0;
}
.copyBtn {
  margin-right: 6px;
  background: var(--btn-bg-color);
  color: var(--btn-color);
  width: 48px;
}
.fullScreenBtn {
  background: var(--btn-bg-color);
  color: var(--btn-color);
  width: 48px;
}
