.component {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.label {
}
.val {
  margin-left: 4px;
}
.code {
  overflow: auto;
}
